__pycache__/
*.py[co]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.egg/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.manifest
*.spec
*.tar.gz
*.whl

.idea/
*.iml

.env
venv/
env/
.venv/

*.log
*.tmp
*.txt
*.swp

.DS_Store